<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Student Form</h2>
    <%= form_tag students_path do %>

      <div>Student First Name:
        <%= text_field_tag :'first_name' %></div><br>

      <div>Student Last Name:
        <%= text_field_tag :'last_name' %></div><br>

      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

      <%= submit_tag "Submit Student" %>

    <% end %>

    <%= params.inspect %>

  </body>
</html>
